* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: white;
    font: 13px helvetica, arial, clean, sans-serif;
    *font-size: small;
    text-align: center;
}

ul.posts {
    list-style-type: none;
}

.content {
    text-align: justify;
    width:37em;
    margin:1em auto 1em auto;
    line-height:1.5em;
}

.posts {
    margin:1em 1em 1em 1em;
}

.excerpt {
    font-size:90%;
    margin-bottom:1em;
}

.title {
    margin-top:2em;
    font-weight: bold;
}

.intro {
    margin: 1em 0em 1em 0em;
    text-size:87%;
}

a {
    color: #83c8f900;
}

a:hover {
    color: black;
}

a:visited {
    color: #83c8f900;
}
