---
        layout: shell
---


<div class="title">
    <table>
        <th><a class="homeref" href="/">marin vila</a></th>
        <th><a class="titlelink" href="about.html">
            <div><span>about</span></div>
        </a></th>
        <th><a class="titlelink" href="http://github.com/{{ site.author.github }}/"><div><span>github</span></div>
        </a></th>
        <th><a class="titlelink" href="http://twitter.com/{{ site.author.twitter }}/"><div><span>twitter</span></div></a></th>
    </table>
</div>
<div class="content">
    {{ content }}
    <div class="footer">
    </div>
</div>

